body {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  background-color: #f9fafa;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.home-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.header {
  width: 100%;
  background: linear-gradient(90deg, #4c1d95, #a855f7);
  display: flex;
  padding: 10px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.burhan {
  margin: 0;
}

.burhan a {
  text-decoration: none;
}

.burhan h2,
.burhan h4 {
  margin: 5px 0;
  color: white;
}

.mid-header {
  display: flex;
  gap: 30px;
}

.mid-header a {
  text-decoration: none;
}

.mid-header h4 {
  margin: 0;
  color: white;
  cursor: pointer;
}

.contact a {
  text-decoration: none;
}

.contact h4 {
  margin: 0;
  color: white;
  cursor: pointer;
}

.content {
  padding: 20px;
  flex: 1;
  margin-top: 60px; /* Base offset for fixed header */
  transition: transform 0.3s ease-in-out; /* Animate transform */
}

.mobile-menu-button {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

/* Mobile responsiveness */
@media screen and (max-width: 768px) {
  .header {
    padding: 15px;
    /* justify-content: flex-start; */
    gap: 10px;
  }

  .mid-header,
  .contact {
    display: none;
  }

  .mobile-menu-button {
    display: block;
  }

  .header.mobile-active .mid-header {
    display: flex;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, #4c1d95, #a855f7);
    flex-direction: column;
    gap: 5px;
    padding: 15px; /* Reduced from 15px */
    z-index: 100;
  }

  .header.mobile-active .contact {
    display: block;
    position: absolute;
    top: 170px;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, #4c1d95, #a855f7);
    padding: 15px; /* Reduced from 15px */
    z-index: 100;
  }

  .header.mobile-active + .content {
    transform: translateY(250px); /* Shift content down when menu is open */
  }
}